@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<hr>
<div class="row">
    <h3 class="mt-4">Display Settings</h3>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="displayRadio" id="lightModeRadio" onclick="ToggleLightMode()">
        <label class="form-check-label" for="lightModeRadio">
            Light Mode
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="displayRadio" id="darkModeRadio" onclick="ToggleDarkMode()">
        <label class="form-check-label" for="darkModeRadio">
            Dark Mode
        </label>
    </div>
    <h3 class="mt-4 pb-2">User Settings</h3>
    <div class="form-check pb-2">
        <a class="btn btn-success w-25" asp-controller="AddUser" asp-action="AddUserView">Create a new user</a>
    </div>
    <div class="form-check pb-2">
        <a class="btn btn-danger w-25" asp-controller="DeleteUser" asp-action="DeleteUserView">Delete an existing user</a>
    </div>
</div>
